---
import Layout from '../layouts/Layout.astro';
import { CartPage } from '../components';
---

<Layout title="Comics! Cart">
  <h3 class="font-heading text-action text-5xl mb-2 text-center">Cart</h3>
  <div class="flex flex-col items-center min-h-screen w-full mb-24">
    <CartPage client:load />
  </div>
</Layout>
