---
import { Layout } from '@/layouts';
import { CartPage } from '@/fragments';
---

<Layout title="Comics! Cart">
  <h1 class="font-heading text-action text-5xl mb-2 text-center">Cart</h1>
  <div class="flex flex-col items-center min-h-screen w-full mb-24">
    <CartPage client:only="react" />
  </div>
</Layout>
