---
import Layout from '../layouts/Layout.astro';
import LogoImage from '../assets/logo.svg';
import SpiderManBannerImage from '../assets/home/spider-man-banner.jpg';
import { Image } from 'astro:assets';
---

<Layout title="Comics! Unleash your inner hero!">
  <section class="relative pt-8 md:pt-20">
    <h1
      class="flex flex-col w-full items-center justify-center font-heading text-4xl md:text-6xl absolute -top-1 md:top-6">
      <span class="text-action"> Unleash your</span>
      <span class="text-drama"> inner hero at</span>
      <span class="bg-drama px-1 py-1 w-max rounded-lg">
        <img src={LogoImage.src} alt="Logo" class="h-12 md:h-20" />
      </span>
    </h1>
    <img
      src={SpiderManBannerImage.src}
      alt="Spider man banner"
      class="w-64 md:w-96"
    />
  </section>
</Layout>
