---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Toaster } from '../components/react';

import DefaultOgImage from '../assets/og-image.jpg';
import { ViewTransitions } from 'astro:transitions';

type Props = {
  title: string;
  image?: string;
};

const { title, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <meta
      name="description"
      content="Comics! Your One-Stop Shop for All Things Superhero! Dive into epic adventures, discover iconic stories, and collect the coolest memorabilia. Join us on an unforgettable journey!"
    />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Comics! Your One-Stop Shop for All Things Superhero! Dive into epic adventures, discover iconic stories, and collect the coolest memorabilia. Join us on an unforgettable journey!"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://comics-orcin.vercel.app/" />
    <meta property="og:image" content={image ?? DefaultOgImage.src} />
    <meta property="og:site_name" content="Comics!" />
    <meta property="og:author" content="Igor Atilar" />
    <ViewTransitions />
  </head>
  <body
    class="bg-adventure text-fantasy antialiased flex flex-col items-center min-h-screen scroll-smooth">
    <main class="relative flex flex-col items-center w-full h-full max-w-5xl">
      <Header />
      <div class="relative flex flex-col w-full h-full">
        <Toaster client:idle />
        <div class="px-4 py-4">
          <slot />
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
